{% extends 'base.html' %}

{% block head %}
<title>RFID WEB</title>
<style>
    .stylebutton {
        background-color: mediumseagreen;
        border:black;
        color:white;
        padding:16px 32px;
        text-decoration:none;
        margin:4px 2px;
        cursor:pointer;
    }
</style>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center"> RFID Project </h1>

    <div class="form">
        <form style="text-align: center" action="/users" method="GET">
            <button type="submit" class="stylebutton" value="USER LIST with RFID">USER LIST with RFID</button>
            <button type="submit" class="stylebutton" value="RFID ACCESS LOG" formaction="/log">RFID ACCESS LOG</button>
        </form>
    </div>

</div>
{% endblock %}